/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Khmer+OS&display=swap');

/* Normalize CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --font-family: 'Khmer OS';
    --padding: 10px;
    --margin: 50px;
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
}

/* General Styles */
body {
    font-family: var(--font-family);
    text-align: center;
    margin-top: 500px;
    background-color: #f0f0f0; /* Add a background color */
    background-image: url('path_to_your_image.jpg'); /* Add a background image */
    background-size: cover; /* Make the background image cover the entire area */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center; /* Center the background image */
    padding: 20px; /* Add padding to ensure content doesn't touch the edges */
}

/* Input and Button Styles */
input, button {
    padding: var(--padding);
    margin: var(--margin);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Result Styles */
#result {
    margin-top: 20px;
    font-size: 1.2em;
}

/* Responsive Design */
@media (max-width: 400px) {
    body {
       *

